h1 {
  font-size: 55px;
  line-height: normal;
  margin-top: 20px;
}
.count {
  font-size: 2rem;
  border: 1px solid var(--white);
  opacity: 0.6;
}
#countdown {
  background-color: #ffff;
  padding: 20px;
  font-size: 45px;
  border-radius: 5px;
  margin-top: 10px;
}
.zodiacArt {
  margin: 40px 0px 30px;
  text-align: center;
}
code {
  color: black;
}
.newData {
  background-color: #ffff;
  padding: 20px 10px 15px;
  border-radius: 5px;
}
img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h1 {
    line-height: 3 !important;
  }
  .zodiacArt {
    text-align: left;
  }
  img {
    text-align: left;
  }
}
